
/*Header styles*/

.header {
	justify-content: space-between;
	padding: 35px 0;
	border-bottom: 1px solid #545454;
}

.wrap_email-button {
	width: 224px;
	justify-content: space-between;
	align-items: center;
}

.header_email {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

.header_button {
	font-size: 18px;
	color: #A9A9A9;
	background: none;
	box-shadow: none;
	border: none;
}