@import url(../assets/normalize.css);
@import url(../assets/fonts.css);
@import url(./Container/container.css);
@import url(./Header/header.css);
@import url(./Logo/logo.css);
@import url(Spinner/spinner.css);

/*Basis styles*/

body {
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #000;
}

.d-flex {
  display: flex;
}
