<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
  </head>

  <body>
    <div class="root">
      <div class="container">
        <header class="header d-flex">
          <a href="#" class="header_logo">
            <img src="<%=require('./img/logo.svg')%>" alt="" />
          </a>
          <div class="wrap_email-button d-flex">
            <a href="mailto:email@mail.com" class="header_email"
              >email@mail.com</a
            >
            <button class="header_button">Выйти</button>
          </div>
        </header>
        <div class="spinner spinner_visible"><i></i></div>
      </div>
    </div>
  </body>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</html>
